*{
    margin: 0px;
    padding: 0px;
    color: white;
    list-style-type: none;
    border-collapse:collapse ;
}
body{
    background-color: rgb(0, 0, 0);
    height: 100%;
}
.intro{
    background-image: url(../img/bmw2.jpg);
    width: 100%;
    height: 750px;
    background-size: cover; /*이미지를 화면에 맞게 근데사진이 반복되있음*/
    background-repeat: no-repeat; /*반복된걸 없애줌*/
    background-position: center; /*사진이 정중앙 잡힘*/
}
.header{
    position: fixed;
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgba(255, 255, 255, 0));
    display: flex;
    width: 2000px;
    height: 90px;
    margin: -30px;
}
.header > .logo{
    width: 60px;
    margin-left: 70px;
    margin-top: 10px;
}
.nav{
    display: flex;
    margin-left: 1000px;
}
.nav > li{
    margin-top: 35px;
    margin-left: 100px;
}
.nav > li >a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.nav> li>.subnav{
    display: none;
    position: absolute; /*절대값으로넣어줘서 위치  고정*/
    margin-top: 5px;
}
.nav> li:hover .subnav {
    display: block;
}
.nav>li>a:hover{
    color: gray;
}
.headermsg{
    text-align: center;
    line-height: 500px;
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 10px black;
}
.headershadow{
    width: auto;
    height: 120px;
    margin-top:110px;
    background: linear-gradient(to top, rgb(0, 0, 0),rgba(255, 255, 255, 0));
}
.main{
    /*border: 3px solid rgb(236, 135, 135);*/
    width: 99.7%;
    height: 97%;
}
.main > .section{
    /*border: 3px solid red;*/
    margin-top: 200px;
    width: 100%;
    height: 100px;
    display: flex;

}
.main > .section > .sectionin{
    flex: 1;
    text-align: center;
    height: 450px;
    margin-left: 10px;
    overflow: hidden;
    margin-right: 40px;
}.main > .section > .sectionin h2{
    margin-bottom: 10px;
}
.main > .section > .sectionin > .sectionin1{
    width: 100%;
    margin: auto;
}
.main > .section > .sectionin > .sectionin1 > img{
    margin-top: 20px;
    width: 96%;
    box-shadow: 0px 4px 20px rgb(134, 134, 134);
    border-radius: 30px;
}
.main > .section > .sectionin > .sectionin2{
    margin-top: 30px;
}
.main > .section > .sectionin:not(:last-child){
    /*border-right: 3px solid red;*/
    margin-right: 50px;
}
iframe{
    margin-top: 300px;
    margin-left: 90px;
    width: 90%;
    height: 800px;
}
.main > .card{
    margin-top: 200px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.main > .card > .cardin{
    flex: 1;
    margin-left: 20px;
    text-align: center;
    /*border: 1px solid red;*/
}
.main > .card > .cardin:not(:last-child){
    /*border-right: 3px solid red;*/
}

.main > .card > .cardin >.card1{
    /*border: 2px solid rgb(168, 208, 255);*/
    width: 100%;
    height: 250px;
}
.main > .card > .cardin >.card1 > img{
    width: 100%;
    margin-bottom: 30px;
}
.main > .card > .cardin >.card2{
    /*border: 2px solid rgb(168, 208, 255);*/
    width: 100%;
    height: 250px;
}
.main > .card > .cardin >.card2 > img{
    width: 100%;
    margin-bottom: 30px;
}
.main > .card > .cardin >.card3{
    /*border: 2px solid rgb(168, 208, 255);*/
    width: 100%;
    height: 250px;
}
.main > .card > .cardin >.card3 > h3::after{
    content: " N";
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.main > .card > .cardin >.card3 > img{
    width: 100%;
    margin-bottom: 30px;
}
.footer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    border-top: 1px solid gray;
}
.footer > img{
    margin-top: 50px;
}